<div class="col-md-8">
  <div class="modal fade"  
  id="editContactModal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="editContactLabel"
  >
  <div class="row modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
            <button type="button" class="close" (click)="onEditModalClose()" data-dismiss="modal"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editContactLabel">Edit contact</h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <form class="col-sm-12" [formGroup]="editContactForm" (ngSubmit)="onEditSubmit()" novalidate>
            <div class="row">
              <div class="col-xs-10">
                <div class="row">
                  <div class="form-group col-xs-6" >
                    <label for="editFirstNameInput">First Name</label>
                      <input 
                        type="text" 
                        id="editFirstNameInput"
                        class="form-control"
                        formControlName="firstName"
                      >
                  </div>
                  <div class="form-group col-xs-6">
                    <label for="editLastNameInput">Last Name</label>
                      <input 
                        type="text" 
                        id="editLastNameInput"
                        class="form-control"
                        formControlName="lastName"
                        >
                  </div>
                </div>
                </div>
                <div class="col-xs-2 contact-photo-edit-input">
                  <label for="contactPhotoEditInput" title="Set contact photo">
                    <img id="contactPhotoEditImg" [src]="contactImage"
                    class="img-circle pull-right"
                    style="width:60px; height:60px; margin-top:15px;" 
                    alt="Set contact photo">
                  </label>
                  <input
                    #contactPhotoEditInput 
                    type="file" 
                    id="contactPhotoEditInput" 
                    name="contactPhotoEditInput"
                    (change)="onPhotoChange(contactPhotoEditInput)">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="editPhoneNumberInput">Phone Number</label>
                      <input 
                        type="text" 
                        id="editPhoneNumberInput" 
                        class="form-control"
                        formControlName="phoneNumber"
                      >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="editEmailInput">Email</label>
                      <input 
                        type="email" 
                        id="editEmailInput" 
                        class="form-control"
                        formControlName="email"
                      >
                  </div>
                </div>
              </div>  
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="editBirthdayInput">Birthday</label>
                      <input 
                        type="date" 
                        id="editBirthdayInput" 
                        class="form-control"
                        formControlName="birthday"
                      >
                  </div>
                </div>
              </div>  
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="editRelationshipInput">Relationship</label>
                      <input 
                        type="text" 
                        id="editRelationshipInput" 
                        class="form-control"
                        formControlName="relationship"
                      >
                  </div>
                </div>
              </div>  
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="editJobTitleInput">Job Title</label>
                      <input 
                        type="text" 
                        id="editJobTitleInput" 
                        class="form-control"
                        formControlName="jobTitle"
                      >
                  </div>
                </div>
              </div>  
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="editWebsiteInput">Website</label>
                      <input 
                        type="text" 
                        id="editWebsiteInput" 
                        class="form-control"
                        formControlName="website"
                      > 
                  </div>
                </div>
              </div>  
              <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="editAddressInput">Address</label>
                        <textarea 
                          id="editAddressInput" 
                          class="form-control"
                          formControlName="address"
                        >
                        </textarea> 
                    </div>
                  </div>
                </div> 
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="editNotesInput">Notes</label>
                      <textarea 
                        id="editNotesInput" 
                        class="form-control"
                        formControlName="notes"
                      >
                    </textarea>  
                  </div>
                </div>
              </div>
              <div class="footer-section">
                <div class="modal-footer-options">
                  <button type="button" class="btn btn-default" (click)="onEditModalClose()" data-dismiss="modal" >Cancel</button>
                  <button  class="btn btn-primary" type="submit" [disabled]="!editContactForm.valid">Save changes</button>
                </div> 
              </div>
          </form>
        </div>
      </div>      
    </div>
  </div>
  </div>
</div>
  
   