
<div class="app-container">
    <router-outlet></router-outlet>
    
  <!-- <header class="fixed-header">
    <div class="row navigation">
      <app-shared></app-shared>   
    </div>
  </header>
  <div class="contacts row">
    <app-contacts></app-contacts>
  </div>
  <div class="create-contact-btn">
      <button type="button" class="btn btn-primary btn-md" (click)="onCreateClick()">
          Create Contact
      </button>  
  </div>
  <div class="create-contact-modal">
      <app-contact-create></app-contact-create>
  </div> -->
</div>
