
/* .fixed-header{
    height: 80px;
} */

/* .navigation{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(102, 51, 150);
    color: white;
    padding: 10px;
    margin: 0;
    z-index: 1;
    
} */
/* .contacts{
    max-width: 800px;
    margin: auto;
}

.create-contact-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1
    
} */
