.all-parts-wrapper{
    height: 100vh;
}

.fa-bars{
    color: rgb(255, 255, 255);
    font-size: 28px;
    cursor: pointer;
}
.fa-bars:hover{
  color: #ddd;
}

/* General Header CSS*/
.main-header{
    height: 70px;
}
.main-header-navigation{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(117, 65, 165, 1);
    color: white;
    padding: 10px;
    margin: 0;
    z-index: 10;
    
} 
.main-header-wrapper{
    display: grid;
    grid-template-columns: 36px 1fr 2fr 1fr;
    grid-gap: 1em;
}

/* Search-Header CSS*/

/* Placeholder*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:     #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     #aaa;
   
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:      #aaa;
   
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:      #aaa;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:      #aaa;
}

::placeholder { /* Most modern browsers support this now. */
   color:     #aaa;
}

#contactsSearchInput:focus::-webkit-input-placeholder
    { /* WebKit, Blink, Edge */
        color:    #ccc;
    }
    #contactsSearchInput:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:   #ccc;
    }
    #contactsSearchInput:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    #ccc;
    }
    #contactsSearchInput:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    #ccc;
    }
    #contactsSearchInput:focus::-ms-input-placeholder { /* Microsoft Edge */
       color:    #ccc;
    }
    
    #contactsSearchInput:focus::placeholder { /* Most modern browsers support this now. */
       color:    #ccc;
    }
/* Placeholder*/

.form-control{
    border-radius: 0%;
  
}
.input-group-addon{
    border-radius: 0%;
}


#contactsSearchInput{
    background-color:  rgb(235, 210, 255);
    border-color: transparent;
    color: rgba(36, 34, 37, 0.8);
}
#contactsSearchInput:focus{

    background-color:white;

    border-color:  rgba(182, 158, 202, 1);
}

.search-result{
    margin-top: 0;
    padding-left: 0;
}
.search-result li{
list-style-type: none;
background-color: white;
cursor: pointer;
border-left: 1px solid gray;
border-bottom: 1px solid gray;
border-right:1px solid gray;
padding: 5px;
}
.search-result li a {
    text-decoration: none;
    color: #888;
    display: block;
}
.search-result li:hover{
    background-color: rgba(131, 18, 236, 0.8);
}
.search-result li a:hover{
    color: white;
}
.search-result li a:active{
    color: white;
}

/* User-Options-Header CSS*/
.current-user-info{
    justify-self: right;
    /* align-self: center; */
    height: 30px;  
    position: relative;
}
/* .user-info.open::after{
    bottom: -8px;
    border-bottom-color: #fff;
} */
.current-user-options > a {
    color: white;
    text-decoration: none;
}
.current-user-options > a:hover {
    color: #ddd;
    text-decoration: none;
}
.current-user-options.open::after, .current-user-options.open::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: calc(100% - 28px);
    border:13px solid transparent;
    border-bottom-color:white;
}
.current-user-options-dropdown{
    border-top-color: transparent;
}
.current-user-options-dropdown li a:hover{
    background-color: rgba(131, 18, 236, 0.8);
    color: #fff;

}

/* Contacts-Menu- CSS*/
.contacts-menu-wrapper{
    display: grid;
    grid-template-columns: 300px 2fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}
.sidebar-menu{
    border-right: solid 1px rgba(205, 200, 209, 0.8);
    height: 100vh;
    position: fixed; 
    z-index: 3;
    overflow-x: hidden;
    transition:0.4s;

}

.sidebar-menu li {
    cursor: pointer;
}

.menu-list a{
    color: rgb(105, 101, 101);
}
 .contacts-list{
    transition:0.4s;
    margin-left: 0px;
    margin-top: 20px;
    
}

/* Create-Contact CSS*/
.create-contact-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 30px 10px 0px;
} 
.create-contact-btn i {
    cursor: pointer;
    font-size: 64px;
}
.create-contact-btn i:hover {
    color: rgba(131, 18, 236, 0.8);
}

/* FA-Awesome-Spinner CSS*/
.fa-spinner{
    font-size: 30px;
}
.loading-spinner{
    text-align: center;
}
.emptyContactsList {
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 1.5em;
    text-align: justify;
}

*{
    box-sizing: border-box;
}