<div 
  *ngIf="isContactDeleted" 
  class="
    contact-deleted-alert 
    alert 
    alert-success 
    fade in"
>
  <p><em>Contact deleted successfully!</em></p>
</div>


<div *ngFor="let contact of contacts" class="contact-info-wrapper">
  <div class="wrapper-info-body" >
    <div class="name-image-info">
      <div class="contact-name-image-wrapper">
        <div class="contact-image">
            <img *ngIf="contact.pictureUrl === null || contact.pictureUrl === '' "
            class="img-rounded"
            src="http://ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png" 
            alt="Contact photo" 
            height="60px" 
            width="60px"
          > 
          <img *ngIf="contact.pictureUrl"
            class="img-rounded"
            [src]="contact.pictureUrl" 
            alt="Contact photo" 
            height="60px" 
            width="60px"
          > 
        </div>
        <div class="contact-name">
          {{contact.firstName }} {{contact.lastName}}
        </div>
      </div>
    </div>
    <div class="phoneNumber-info">
      <p>{{contact.phoneNumber}}</p>
    </div>
    <div class="email-info">
       <p>{{contact.email}}</p>
    </div>
    <div class="contact-options-list">
        <div> 
          <span 
            title="Edit Contact" 
            class="glyphicon glyphicon-pencil" 
            (click)="onContactEdit(contact)">
          </span>
        </div>
        <div class="dropdown">
          <span 
            title="More Actions" 
            class="glyphicon glyphicon-option-vertical dropdown-toggle"  
            data-toggle="dropdown">
          </span>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a role="button" (click)="onContactDelete(contact)"><i class="fa fa-trash-o fa-fw"></i>Delete</a></li>
          </ul>
        </div>
      </div>
  </div>
  <!-- <div class="wrapper-info-footer">
    <div class="contact-options-list">
      <div> 
        <span 
          title="Edit Contact" 
          class="glyphicon glyphicon-pencil" 
          (click)="onContactEdit(contact)">
        </span>
      </div>
      <div class="dropdown">
        <span 
          title="More Actions" 
          class="glyphicon glyphicon-option-vertical dropdown-toggle"  
          data-toggle="dropdown">
        </span>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a role="button" (click)="onContactDelete(contact)"><i class="fa fa-trash-o fa-fw"></i>Delete</a></li>
        </ul>
      </div>
    </div>
  </div> -->
</div>

<div *ngIf="selectedContact" class="row">
  <app-contact [contact] ="selectedContact"></app-contact>
</div>
